h1{
  font-family:"Times New Roman", Times, serif;
  text-shadow: 2px 3px lightblue;
  color: darkblue;
  text-align: center;
  background-image: linear-gradient(pink,blue);
}
h2{
  font-family: "courrier new", monospace;
  color: #A40856;
}
h3{
  color:#0404DB;
}
.color{
  color: purple;
}
h4{
  font-size: 25px;
  color: #0099ff;
}
h5{
  font-size: 25px;
  color:  #ff00ff;
}
a{
  font-size: 20px;
}
h6{
  font-size: 40px;
  color: yellow;
  margin-bottom: 15px;
}
h7{
  font-size: 24px;
  color: darkblue;
}
ol{
  font-size: 30px;
  color: blue;
}
/*Note: This is for the two column list format.*/
*{
  box-sizing: border-box;
}
.column{
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
/*End of two column list*/
body{
  background-image: url("images/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  height: 300px;
  width: 225px;
}
/* ordered list*/ ol{
  list-style-type: upper-roman;
}
/*Table CSS Code. */
#table{
  border-collapse: collapse;
  width: 100%;
  padding-bottom: 100px;
}
#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #e83acb;
}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-image: linear-gradient(to right,blue,purple);
    color: lightblue;
}
/* end of Table CSS code. */
iframe{
  width: 50%;
}
